include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include DEPENDENCIES.md
include pytest.ini
include .coveragerc
recursive-include examples *.yml *.yaml *.md *.py
recursive-include tests *.py
