# Test dependencies
tox
pytest>=7.0.0
pytest-cov>=4.0.0
pytest-mock>=3.10.0
pytest-httpbin>=0.0.6

# Development tools
docutils
wheel
pycodestyle
pylint>=4.0.0
twine
pip-audit>=2.6.0

# Include all production dependencies
-r requirements.txt
