# Test dependencies
tox
pytest>=7.0.0
pytest-cov>=4.0.0
pytest-mock>=3.10.0
pytest-httpbin>=0.0.6

# Development tools
docutils
wheel
pycodestyle
twine
pip-audit>=2.6.0

# Include all production dependencies
-r requirements.txt
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
